<div class="payroll-dashboard">

  <app-information-filter title="Filtrar tipo" description="Selecione os tipos que deseja visualizar"
    [items]="entryTypeOptions" [selectedIds]="selectedEntryTypes()"
    (selectedIdsChange)="selectedEntryTypes.set($event)"></app-information-filter>

  <app-dashboard-summary [items]="filteredEntryOptions" [competenceInitial]="competenceInitial"
    [competenceEnd]="competenceEnd">
  </app-dashboard-summary>

  <div class="content-grid">

    <app-dashboard-overview title="Lançamentos por tipo" description="Distribuição dos gastos"
      [items]="filteredEntryOptions" chartType="bar">
    </app-dashboard-overview>

    <app-dashboard-main title="Maiores lançamentos" subtitle="Lançamentos com maiores valores"
      [events]="filteredEntryEvent" />

  </div>

  <div class="entries-container">

    <app-dashboard-detail [events]="filteredEntryOptions" />

    <div class="empty-state full" *ngIf="!entries.length">

      Nenhuma tipo selecionado.

    </div>

  </div>

</div>